.contenedor-testimonio{
    width: 1170px;
    height: 368px;
    margin: 10px 10px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 13px 1px rgb(0 0 0 / 9%);
}
.imagen-testimonio{
    height: 100%;
    width: auto;

}
.contenedor-texto-testimonio{
    text-align: center;
    padding: 40px;
    font-weight: 400;
    line-height: 1.5rem;
}
.nombre-testimonio{
    font-size: 1.3rem;
}
.cargo-testimonio{
    font-weight: 600;
    margin-top: 15px;
    padding-bottom: 30px;
    font-size: 1.3rem;
}
.texto-testimonio{
    font-size: 1.1rem;
    text-align: justify;
}
@media(max-width: 1000px){
    .contenedor-testimonio{
        display: flex;
        flex-direction: column;
        overflow: hidden;
        margin: auto;
        width: 100%;
        margin-top: 20px;
    
    }
    .imagen-testimonio{
        height: auto;
        overflow: hidden;
    }
    .texto-testimonio{
        display: flex;
        text-align: center;
        margin: auto;
        text-align: justify;
    }
}